In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv(r'C:/Users/manav/Desktop/AQI Prediction/dataset/Mumbai_AQI_Dataset_processed.csv')

In [3]:
df.isnull().sum()

date            0
AQI             0
PM2.5           0
PM10            0
NO2             0
SO2             0
CO              0
O3              0
Next_Day_AQI    0
dtype: int64

In [4]:
df['date']=pd.to_datetime(df['date'],format='mixed')
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [5]:
df['Next_Day_AQI'] = df['AQI'].shift(-1)
df.dropna(subset=['Next_Day_AQI'], inplace=True)
df.to_csv(r'C:/Users/manav/Desktop/AQI Prediction/dataset/Mumbai_AQI_Dataset_processed.csv', index=False)
df.tail()

,date,AQI,PM2.5,PM10,NO2,SO2,CO,O3,Next_Day_AQI
1838,2024-01-17,101,55.55,109.08,83.83,115.14,1.06,95.95,100.0
1839,2024-01-18,100,55.00,108.00,83.00,114.00,1.05,95.00,110.0
1840,2024-01-19,110,60.50,118.80,91.30,125.40,1.16,104.50,151.0
1841,2024-01-20,151,83.05,163.08,125.33,172.14,1.59,143.45,103.0
1842,2024-01-21,103,56.65,111.24,85.49,117.42,1.08,97.85,128.0

In [6]:
df_weather=pd.read_csv(r'C:/Users/manav/Desktop/AQI Prediction/dataset/Mumbai_processed.csv')
print(df_weather.head())

         date  temperature_2m  relative_humidity_2m  wind_speed_10m  \
0  2019-01-01       21.999500             55.765919        8.920918
1  2019-02-01       22.426583             53.342182       10.603199
2  2019-04-01       21.766167             60.330617        9.091025
3  2019-05-01       22.387000             63.721218        9.215505
4  2019-06-01       21.989083             64.067885       10.660980

   precipitation
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0

In [7]:
df_weather = pd.read_csv(r'C:/Users/manav/Desktop/AQI Prediction/dataset/Mumbai_processed.csv')
df_weather['date'] = pd.to_datetime(df_weather['date'],format='mixed')
columns_to_keep = [
    'date',
    'temperature_2m',
    'relative_humidity_2m',
    'wind_speed_10m',
    'precipitation'
]
df_weather = df_weather[columns_to_keep]
df_weather.to_csv(r"C:/Users/manav/Desktop/AQI Prediction/dataset/Mumbai_processed.csv", index=False)
print(df_weather.head())

        date  temperature_2m  relative_humidity_2m  wind_speed_10m  \
0 2019-01-01       21.999500             55.765919        8.920918
1 2019-02-01       22.426583             53.342182       10.603199
2 2019-04-01       21.766167             60.330617        9.091025
3 2019-05-01       22.387000             63.721218        9.215505
4 2019-06-01       21.989083             64.067885       10.660980

   precipitation
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0

In [8]:
# Merge on 'date' column
merged_df = pd.merge(df, df_weather, on='date', how='inner')
merged_df=merged_df.drop('precipitation', axis=1)
# Save the final merged dataset
merged_df.to_csv(r"C:\Users\manav\Desktop\AQI Prediction\dataset\Final_aqi_weather.csv", index=False)
merged_df.head()

,date,AQI,PM2.5,PM10,NO2,SO2,CO,O3,Next_Day_AQI,temperature_2m,relative_humidity_2m,wind_speed_10m
0,2019-01-01,194,106.70,209.52,161.02,221.16,2.04,184.30,153.0,21.999500,55.765919,8.920918
1,2019-02-01,153,84.15,165.24,126.99,174.42,1.61,145.35,90.0,22.426583,53.342182,10.603199
2,2019-04-01,90,49.50,97.20,74.70,102.60,0.95,85.50,88.0,21.766167,60.330617,9.091025
3,2019-05-01,88,48.40,95.04,73.04,100.32,0.92,83.60,79.0,22.387000,63.721218,9.215505
4,2019-06-01,79,43.45,85.32,65.57,90.06,0.83,75.05,42.0,21.989083,64.067885,10.660980